
*{
    box-sizing: border-box;
}

h1{
    font-family: 'Roboto', sans-serif;
    background-color:#031961;
    color: #FEDCE6;
    height: 50px;
    position: sticky;
    top: 0px;
    max-width: 1550px;
    text-align: center;
    padding: 5px 10px 11px 10px;
    margin: -11px;
}

.box-1{
    line-height: 1.5em;
    max-width: 600px;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 600;
}

.btn{
    text-decoration: none;
    background-color: #031961;
    color: #FEDCE6;
    padding: 10px 10px;
    border-radius: 5px;
}
.btn:hover{
    text-decoration: underline;
    color: #FCEDF1;
}
.box-2{
    background-color: #FCCAD7;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 18px;
    line-height: 1.5em;
    max-width: 600px;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 600;
}
article{
    line-height: 1.5em;
    max-width: 600px;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 600;
}


